.SM_heading {
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 20px;
  }
  
  .SM_main_container {
    height: 80vh;
    /* width: 100%; */
    display: flex;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin-left: 40px;
    /* align-items: center; */
    margin-bottom: 20px;
    color: white;
  }
  .SM_img {
    display: flex;
    margin-right: 100px;
    /* flex-direction: row; */
    height: 300px;
    width: 200px;
  }
  .SM_img2{
    margin-right: 10px;
  }
  .SM_img2 img{
    margin-left: 40px;
    height: 300px;
    width: 200px;
  }
  .movie_list{
    display: flex;
    margin-top: 30px;
    margin-left: 300px;
    align-items: center;
    
  }
  