.SS_heading {
    width: 100%;
    font-size: 22px;
    color: white;
    text-align: start;
    margin-left: 20px;
  }
  
  .SS_main_container {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: white;
  }